body {
  cursor: url('');
  margin: 0;
  font-family: raleway;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: raleway;
  src: url(../public/fonts/Raleway-Light.ttf);
}
