body {
  margin: 0px;
  font-family: raleway;
  padding: 0px;
  
}

html {
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: raleway;
  src: url(../public/fonts/Raleway-Light.ttf);
}

